footer{
    padding: 5px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #35424a;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%; 
    font-size: 20px;
  }
