header{
	background-color: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

header .highlight{
	color: #e8491d;
	font-weight: bold;
}

header #branding-title{
	float: left;
  margin: 0;
  padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

header #branding-title h1{
   margin: 0;
}

header form{
	float: right;
	font-size: 30px;
}


header input{
	  border: none;
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
    height: 30px;
    width: 500px;
    border:2px solid #eaeaea;
    outline:none;
    font-size: 20px;
}

header button{
  border: none;
  border-radius: 40px;
  padding: 10px;
  margin: 10px;
  height: 50px;
  border:2px solid #eaeaea;
  outline:none;
  font-size: 20px;
  cursor: pointer;
  color: #4d90fe;
}

header input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

header input:focus{
    border-color:#4d90fe;
}

::placeholder{
	font-size: 20px;
	color: #D3D3D3;
}
